<div class="container" *ngIf="post">
    <h1 class="mt-4 mb-5"> Add Blog</h1>
    <form #form="ngForm">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="post.title">
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea type="text" class="form-control" name="content" [(ngModel)]="post.content"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Summary</label>
            <textarea type="text" class="form-control" name="summary" [(ngModel)]="post.summary"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Feature Image Url</label>
            <input type="text" class="form-control" name="featuredImageUrl" [(ngModel)]="post.featuredImageUrl">
        </div>
        <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" class="form-control" name="author" [(ngModel)]="post.author">
        </div>
        <div class="mb-3">
            <label class="form-label">Url Handle</label>
            <input type="text" class="form-control" name="urlHandle" [(ngModel)]="post.urlHandle">
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label"> Visible </label>
            <input type="checkbox" class="form-check-input" name="visible" [(ngModel)]="post.visible">
        </div>
        <div class="mb-3">
            <label class="form-label">Post Date</label>
            <input type="text" class="form-control" name="updatedDate" [(ngModel)]="post.updatedDate">
        </div>
        <div class="mb-3">
            <label class="form-label">Publish Date</label>
            <input type="text" class="form-control" name="publishDate" [(ngModel)]="post.publishDate">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" (click)="AddPost()">Add</button>
        </div>
    </form>
</div>